@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Default variable overrides
$body-bg: #000;
$body-color: #111;


#sheet-upload-genre{
    .btn-secondary{
        background-color: $gray-400;
    }
}

@import "../node_modules/bootstrap/scss/bootstrap";
